#parse("common.mod.vm")
#set( $cutadapt_version = "1.2.1")
#set( $cutadapt_dir = $packages_dir + "/cutadapt-" + $cutadapt_version)
#set( $cutadapt_exe = $cutadapt_dir + "/bin/cutadapt")
#macro(cutadapt2file $fastq)${OUT}/Samples/${sample.sample}/CUTADAPT/cutadapt_${fastq.getParentNode().getParentNode().getParentNode().sample}_${fastq.getParentNode().index}_R${fastq.side}_L${fastq.getParentNode().lane}_S${fastq.getParentNode().split}.fastq.gz#end
