#
# Date: ${now}
#
#set($reference = $references["${config.reference}"])
#parse("cutadapt.mod.vm")
#parse("fastqc.mod.vm")
#parse("tophat.mod.vm")
#parse("bowtie.mod.vm")
#parse("picard.mod.vm")
#parse("samtools.mod.vm")
#parse("cufflinks.mod.vm")
#parse("bedtools.mod.vm")
#parse("jvarkit.mod.vm")
#set($sample_id=0)
#if(${$config.tophat.numthreads})#set( $tophat_num_threads = "${config.tophat.numthreads}" )#else#set( $tophat_num_threads = 10 )#end
#if(${$config.cufflinks.numthreads})#set( $cufflinks_num_threads = "${config.cufflinks.numthreads}" )#else#set( $cufflinks_num_threads = $tophat_num_threads )#end
#if(${$config.cuffmerge.numthreads})#set( $cuffmerge_num_threads = "${config.cuffmerge.numthreads}" )#else#set( $cuffmerge_num_threads = $cufflinks_num_threads )#end
#if(${$config.cuffdiff.numthreads})#set( $cuffdiff_num_threads = "${config.cuffdiff.numthreads}" )#else#set( $cuffdiff_num_threads = $cuffmerge_num_threads )#end
#macro(sample_dir $sample)${OUT}/Samples/${sample}#end
#macro(accepted_hits $sample)#sample_dir(${sample})/TOPHAT/accepted_hits.bam#end


.PHONY=all clean all_cutadpat all_fastqc0 all_tophat all_cufflinks all_cuffdiff all_bamstats01
SHELL=/bin/bash
OUT:= ${config.outdir}

export PATH:=$(PATH):${bowtie_dir}:${samtools_dir}:${cufflinks_dir}


all: all_cuffdiff all_fastqc0 all_bamstats01


all_fastqc0: #foreach($dir in $project)#foreach($sample in ${dir.samples}) \
	#sample_dir(${sample.sample})/FASTQC0/${sample.sample}_fastqc/fastqc_report.html #end#end


all_cutadpat: #foreach($dir in $project)#foreach($sample in ${dir.samples})#foreach($pair in ${sample.files}) \
	#cutadapt2file(${pair.forward}) \
	#cutadapt2file(${pair.reverse}) #end#end#end


all_tophat : #foreach($dir in $project)#foreach($sample in ${dir.samples}) \
		#accepted_hits(${sample.sample}) #end#end


all_cufflinks : #foreach($dir in $project)#foreach($sample in ${dir.samples}) \
		#sample_dir(${sample.sample})/CUFFLINKS/transcripts.gtf #end#end


all_bamstats01 : #foreach($dir in $project)#foreach($sample in ${dir.samples}) \
	#sample_dir(${sample.sample})/Statistics/bamstats01.tsv #end#end

all_cuffdiff: #foreach($replicate1 in ${config.replicates.keySet()})#foreach($replicate2 in ${config.replicates.keySet()})#if( ${replicate1.compareTo("$replicate2")} < 0 ) \
	${OUT}/CUFFDIFF/${replicate1}_vs_${replicate2}/run.info.gz #end#end#end \
	${OUT}/CUFFDIFF/ALL/run.info.gz



#foreach($dir in $project)


${OUT}/BED/exons.bed: ${reference.gtf}
	mkdir -p $(dir $@) && \
	awk -F '	' '{printf("%s\t%d\t%s\n",$$1,int($$4)-1,$$5);}' $< |\
	uniq | LC_ALL=C sort -u -k1,1 -k2,2n -k3,3n | ${bedtools_bindir}/mergeBed -i - > $@

#
# cuffdiff ALL sample 
#
${OUT}/CUFFDIFF/ALL/run.info.gz : ${OUT}/CUFFMERGE/MERGED/merged.gtf  #foreach($replicate1 in  ${config.replicates.keySet()})
	#foreach($S1 in  $config.replicates["$replicate1"].samples) \
		#accepted_hits(${S1})#end#end

	mkdir -p $(dir $@) && \
	${cuffdiff_exe} \
		-o $(dir $@) \
		-b ${reference.fasta} \
		-p ${cuffdiff_num_threads} \
		-L #foreach($replicate1 in  ${config.replicates.keySet()})#if( $velocityCount >1),#end${replicate1}#end \
		-u \
		$(filter %.gtf,$^) \
		#foreach($replicate1 in  ${config.replicates.keySet()}) \
		#foreach($S1 in  $config.replicates["$replicate1"].samples)#if( $velocityCount >1),#end#accepted_hits(${S1})#end#end \
	 $(foreach EXT,"*.info" "*_tracking" "*.diff", && find  $(dir $@) -name ${EXT} -type f -exec gzip --best --force '{}' ';' )


#foreach($replicate1 in ${config.replicates.keySet()})
#foreach($replicate2 in ${config.replicates.keySet()})
#if( ${replicate1.compareTo("$replicate2")} < 0 )
#set($diffL1= $config.replicates["$replicate1"].samples )
#set($diffL2= $config.replicates["$replicate2"].samples )

#
# cuffdiff sample '${replicate1}' vs '${replicate2}'
#
${OUT}/CUFFDIFF/${replicate1}_vs_${replicate2}/run.info.gz : ${OUT}/CUFFMERGE/MERGED/merged.gtf  #foreach($S1 in $diffL1) \
		#accepted_hits(${S1})#end#foreach($S2 in $diffL2) \
		#accepted_hits(${S2})#end

	mkdir -p $(dir $@) && \
	${cuffdiff_exe} \
		-o $(dir $@) \
		-b ${reference.fasta} \
		-p ${cuffdiff_num_threads} \
		-L ${replicate1},${replicate2} \
		-u \
		$(filter %.gtf,$^) \
		#foreach($S1 in $diffL1)#if( $velocityCount >1),#end#accepted_hits(${S1})#end \
		#foreach($S2 in $diffL2)#if( $velocityCount >1),#end#accepted_hits(${S2})#end  \
	 $(foreach EXT,"*.info" "*_tracking" "*.diff", && find  $(dir $@) -name ${EXT} -type f -exec gzip --best --force '{}' ';' )

#end
#end
#end

${OUT}/CUFFMERGE/MERGED/merged.gtf : ${OUT}/CUFFMERGE/assemblies.txt
	mkdir -p $(dir $@) && \
	${cuffmerge_exe} \
		-o $(dir $@) \
		-p ${cuffmerge_num_threads} \
		-g ${reference.gtf} \
		-s ${reference.fasta} \
		$<
	

${OUT}/CUFFMERGE/assemblies.txt:  #foreach($sample in ${dir.samples}) \
		#sample_dir(${sample.sample})/CUFFLINKS/transcripts.gtf #end
	
	mkdir -p $(dir $@) && \
	rm -f $@ #foreach($sample in ${dir.samples}) && \
	echo "#sample_dir(${sample.sample})/CUFFLINKS/transcripts.gtf" >> $@ #end


#foreach($sample in ${dir.samples})




#
# Run FASTQC for Sample '${sample.sample}' after cutadapt
#	
#sample_dir(${sample.sample})/FASTQC0/${sample.sample}_fastqc/fastqc_report.html : #foreach($pair in ${sample.files}) \
		#cutadapt2file(${pair.forward}) \
		#cutadapt2file(${pair.reverse}) #end

	mkdir -p #sample_dir(${sample.sample})/FASTQC0 && \
	gunzip -c $^ | gzip > #sample_dir(${sample.sample})/FASTQC0/${sample.sample}.fastq.gz && \
	${fastqc_exe}  \
		-o #sample_dir(${sample.sample})/FASTQC0 \
		#sample_dir(${sample.sample})/FASTQC0/${sample.sample}.fastq.gz && \
	rm -f	#sample_dir(${sample.sample})/FASTQC0/${sample.sample}_fastqc.zip \
		#sample_dir(${sample.sample})/FASTQC0/${sample.sample}.fastq.gz


#set($sample_id = $sample_id + 1)


#
# Run Cufflinks for Sample '${sample.sample}'
# 
#sample_dir(${sample.sample})/CUFFLINKS/transcripts.gtf : \
		${reference.gtf} \
		#accepted_hits(${sample.sample})
	
	mkdir -p $(dir $@) && \
	${cufflinks_exe} \
		-p ${cufflinks_num_threads} \
		-o $(dir $@) \
		-q --no-update-check -u \
		-G ${reference.gtf} \
		 $(filter %.bam,$^)


#
# Run BamStats01 for Sample '${sample.sample}'
# 	
#sample_dir(${sample.sample})/Statistics/bamstats01.tsv : #accepted_hits(${sample.sample}) \
		${OUT}/BED/exons.bed
	mkdir -p $(dir $@) && \
	java -jar ${jvarkit_dir}/bamstats01.jar \
			VALIDATION_STRINGENCY=LENIENT \
			IN=$< \
			BED=$(filter %.bed,$^) > $@

#
# Run Tophat for Sample '${sample.sample}'
# 
#accepted_hits(${sample.sample}) : \
	${reference.fasta} \
	${reference.gtf} #foreach($pair in ${sample.files}) \
	#cutadapt2file(${pair.forward}) \
	#cutadapt2file(${pair.reverse}) #end

	mkdir -p $(dir $@) && \
	${tophat_exe} \
		-p ${tophat_num_threads} \
		-G ${reference.gtf} \
		-o $(dir $@) \
		--rg-id "g${sample_id}" \
		--rg-library ${sample.sample} \
		--rg-sample ${sample.sample} \
		--rg-description "${sample.sample}  $(words $filter(%.fastq.gz,$^)) fastqs" \
		--rg-platform-unit "$(sort #foreach($pair in ${sample.files}) ${pair.lane} #end )" \
		--rg-center Nantes \
		--rg-platform Illumina \
		$(basename ${reference.fasta}) \
		#foreach($pair in ${sample.files})#if( $velocityCount >1),#end#cutadapt2file(${pair.forward})#end \
		#foreach($pair in ${sample.files})#if( $velocityCount >1),#end#cutadapt2file(${pair.reverse})#end


#foreach($pair in ${sample.files})
#set($fastqs=[ ${pair.forward} , ${pair.reverse}] )
	
        

#foreach($fastq in $fastqs)

#
# Run Cutadapt for ${fastq.path}
#	
#cutadapt2file(${fastq}): ${fastq.path}
	mkdir -p $(dir $@) && \
	${cutadapt_exe} -a #if(
		${fastq.side}==1)AGATCGGAAGAGCACACGTCTGAACTCCAGTCAC#elseif(
		${fastq.side}==2)AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGTAGATCTCGGTGGTCGCCGTATCATT#end  2> $(addsuffix .report.txt,$(basename $@)) $< |\
	gzip --best -c > $@

	

#end
#end
#end
#end

clean:
	
