#set($reference = $references["${config.reference}"])
#parse("cutadapt.mod.vm")
#parse("fastqc.mod.vm")
#parse("tophat.mod.vm")
#parse("bowtie.mod.vm")
#parse("picard.mod.vm")
#parse("samtools.mod.vm")
#set($sample_id=0)
#if(${$config.tophat.numthreads})#set( $tophat_num_threads = "${config.tophat.numthreads}" )#else#set( $tophat_num_threads = 10 )#end


.PHONY=all clean all_cutadpat all_fastqc0 all_tophat
SHELL=/bin/bash
OUT:= ${config.outdir}

export PATH:=$(PATH):${bowtie_dir}:${samtools_dir}


all: all_fastqc0 all_tophat


all_fastqc0: #foreach($dir in $project)#foreach($sample in ${dir.samples}) \
	${OUT}/Samples/${sample.sample}/FASTQC0/${sample.sample}_fastqc/fastqc_report.html #end#end


all_cutadpat: #foreach($dir in $project)#foreach($sample in ${dir.samples})#foreach($pair in ${sample.files}) \
	#cutadapt2file(${pair.forward}) \
	#cutadapt2file(${pair.reverse}) #end#end#end


all_tophat : #foreach($dir in $project)#foreach($sample in ${dir.samples}) \
		${OUT}/Samples/${sample.sample}/TOPHAT/accepted_hits.bam #end#end


#foreach($dir in $project)
#foreach($sample in ${dir.samples})

#
# Run FASTQC for Sample '${sample.sample}' after cutadapt
#	
${OUT}/Samples/${sample.sample}/FASTQC0/${sample.sample}_fastqc/fastqc_report.html : #foreach($pair in ${sample.files}) \
		#cutadapt2file(${pair.forward}) \
		#cutadapt2file(${pair.reverse}) #end

	mkdir -p ${OUT}/Samples/${sample.sample}/FASTQC0 && \
	gunzip -c $^ | gzip > ${OUT}/Samples/${sample.sample}/FASTQC0/${sample.sample}.fastq.gz && \
	${fastqc_exe}  \
		-o ${OUT}/Samples/${sample.sample}/FASTQC0 \
		${OUT}/Samples/${sample.sample}/FASTQC0/${sample.sample}.fastq.gz && \
	rm -f	${OUT}/Samples/${sample.sample}/FASTQC0/${sample.sample}_fastqc.zip \
		${OUT}/Samples/${sample.sample}/FASTQC0/${sample.sample}.fastq.gz


#set($sample_id = $sample_id + 1)

#
# Run Tophat for pair '${sample.sample}'
# 
${OUT}/Samples/${sample.sample}/TOPHAT/accepted_hits.bam : \
	${reference.fasta}  #foreach($pair in ${sample.files}) \
	#cutadapt2file(${pair.forward}) \
	#cutadapt2file(${pair.reverse}) #end

	mkdir -p $(dir $@) && \
	${tophat_exe} \
	-p ${tophat_num_threads} \
	-G ${reference.gtf} \
	-o $(dir $@) \
	--rg-id "g${sample_id}" \
	--rg-library ${sample.sample} \
	--rg-sample ${sample.sample} \
	--rg-description "${sample.sample}  $(words $filter(%.fastq.gz,$^)) fastqs" \
	--rg-platform-unit "$(sort #foreach($pair in ${sample.files}) ${pair.lane} #end )" \
	--rg-center Nantes \
	--rg-platform Illumina \
	$(basename ${reference.fasta}) \
	#foreach($pair in ${sample.files})#if( $velocityCount >1),#end#cutadapt2file(${pair.forward})#end \
	#foreach($pair in ${sample.files})#if( $velocityCount >1),#end#cutadapt2file(${pair.reverse})#end


#foreach($pair in ${sample.files})
#set($fastqs=[ ${pair.forward} , ${pair.reverse}] )
	
        

#foreach($fastq in $fastqs)

#
# Run Cutadapt for ${fastq.path}
#	
#cutadapt2file(${fastq}): ${fastq.path}
	mkdir -p $(dir $@) && \
	${cutadapt_exe} -a #if(
		${fastq.side}==1)AGATCGGAAGAGCACACGTCTGAACTCCAGTCAC#elseif(
		${fastq.side}==2)AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGTAGATCTCGGTGGTCGCCGTATCATT#end  2> $(addsuffix .report.txt,$(basename $@)) $< |\
	head -n 40000 |\
	gzip --best -c > $@

	

#end
#end
#end
#end

clean:
	
